
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*HOJA DE VIDA DOWLOAD*/
/* From Uiverse.io by InfinityLoopGames */ 
.glowbutton {
  --glow-color: rgb(207, 228, 255);
  --glow-spread-color: rgba(123, 176, 255, 0.781);
  --enhanced-glow-color: rgb(206, 255, 255);
  --btn-color: rgba(61, 85, 136, 0.267);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.glowbutton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  color: #000;
}

.glowbutton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.glowbutton:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.glowbutton>.boton:hover{
  color: #000;
}

.aT{
  color: #ffffff;
  padding: 0px 3px 0px 3px;
  font-weight:400;

  text-shadow: 0 0 30px rgba(248, 248, 3);
  border-radius: 10px;
}
.aC{
  color: #ffffffbd;
  padding: 0px 3px 0px 3px;
  font-weight:400;
  text-shadow: 0 0 30px rgba(92, 174, 252, 0.452);
  border-radius: 10px;
}

/*experiencia hover*/

.pro:hover{
  scale: 1.1;
  z-index: 10;
  transition: all ease-in 0.3s;
  background-color: #0000006e;
  box-shadow: 10px 10px 132px -43px rgba(0, 46, 88, 0.562);
}
.pro{
  transition: all ease-in 0.5s;
  box-shadow: 10px 10px 132px -9px rgba(0, 60, 172, 0.425);
  overflow: hidden;
}
/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 4px;
  --text-stroke-color: rgba(252, 252, 252, 0.6);
  --animation-color: #e5ff00c9;
  --fs-size: 25px;
  letter-spacing: 2px;
  text-decoration: none;
  font-size:10px;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

/*EXPERIENCIA*/
.minicontainer{
overflow-y: scroll;
height: 30rem;
display: flex;
flex-direction: row;

}

/*CARD*/



.lastEx{
  display: flex;
  justify-content:flex-end;
  padding-right: 60px;
}
.experiencia{
  border: solid 2px rgba(255, 255, 255, 0);
  color: rgb(245, 241, 0);
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  
}


#accordionExample{
background-color: #ff0000;
}
.text-white{
  color: white;
}
.bg-blur{

   background-color: rgba(36, 38, 42, 0.3); /* Color de fondo con opacidad */
   backdrop-filter: blur(10px); /* Desenfoque del fondo */
   -webkit-backdrop-filter: blur(10px); /* Soporte para navegadores WebKit como Safari */
   border-radius: 10px; /* Opcional: Bordes redondeados para un efecto más suave */
  
}
.proyecto{
  border: solid 2px rgba(255, 255, 255, 0);
  color: rgb(245, 241, 0);
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.aboutme.show {
  display: block; /* Mostrar cuando se añada la clase .show */
}

.proc{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}
/*DISPLAY NONE*/

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*COLORES*/
.text-yellow {
  color: #fbff00ef;
}
.wh100vh{
  width: 100dvh;
  height: 100dvh;
}
/*NAV*/

 .navbar{
  position:absolute;
  width: 600px;
  display: flex;
  justify-content: space-between;
  

}  
.navbar button {
color: rgb(255, 255, 255);

background-color: none;

}

#section2{
  border: solid 2px rgba(255, 255, 255, 0);
  border-radius: 10px;
  height: 97%;
}

.blur1 {
 z-index: 1;
 position: absolute;
 backdrop-filter: blur(30px);
}
.main{
  border: solid 2px rgba(255, 0, 0, 0);
  flex-wrap: wrap;
  height: 100dvh;
  padding: 0;

}

.desplegue{

}
/*ABOUT ME*/
.aboutme{
border: solid 2px rgba(255, 255, 255, 0);
  color: rgb(245, 241, 0);
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
}
.aboutme>p{
  font-size: 21px;
  color: rgb(255, 255, 255);
}
.HV{
  display: flex;
  justify-content: center;
  

}


.H{
  top: 200px;
  position: relative;
  
 
}
.H2{
  background-color: #64030048;
}



/*ESPACIOS*/
/* .mt-p{
  margin-top: 105px;
} */
.centrado {
  display: flex;
  justify-content: center;

  text-align: center;
  vertical-align: middle;
}
/* a:hover{
  transform: scale(1.1);
} */

/*carrusel*/



.carouselC{

font-size: xx-large;
position: relative;
color: aliceblue;
top: 50%;
}



.boton{
  background-color: #4e46004b;
  padding: 5px ;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.boton:hover{
  background-color: #00224e79;
  transition: background-color 0.3s ease;
}

.navbar .btn:hover{
scale: 1;
transition: 0.3s ease;
background-color: rgb(255, 217, 0);
}

body {
   /* background-color: rgba(1, 8, 34, 0.993);  */
   background-image: url("./source/blutAna.png");
   background: fixed;
 
   background-repeat: no-repeat;
   background-color: #202020;
   height: auto;

    padding: 15px;
   

}

@keyframes gradient{
  0%{
    background-image: url("./source/blutAna.png");
      background-size: 115% 115%;
     backdrop-filter: blur(15px); 
    
     
    
  }
  100%{

    background-image: url("./source/blutAna.png");
      background-size :115% 115%;
      backdrop-filter: blur(150px); 
   
  
  }

  
}

* {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;


}
a{
  text-decoration: none; 
}

.banner {
 
  height: 96.5dvh;
  border: solid 2px rgba(255, 255, 255, 0.623);
  border-radius: 10px;
  
 
}

.viewmore{
  position: absolute;
  bottom: 100px;
  z-index: 9999;
  filter:invert(1);
  animation: mover 1.5s ease-in-out infinite;
  
}
#viewmore1>img{
  width: 20px;
}
.viewmore a{
  text-decoration: none;
  color: #000000;
  z-index: 100;
 
}

.viewmorenone{
  display: none;
}



.contSocialM {
  display: flex;
  justify-content: center;
  align-items: center;

}

ul {
  list-style: none;

}

.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;


}

.socialmedia .icon-content {
  margin: 0 10px;
  position: relative;

}

.socialmedia .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;

}

.socialmedia .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;

}

.socialmedia .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

}

.socialmedia .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);

}

.socialmedia .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;

}

.socialmedia .icon-content a:hover {
  color: white;
}

.socialmedia .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.socialmedia .icon-content a:hover .filled {
  height: 100%;
}

.socialmedia .icon-content a[data-social="linkedin"] .filled,
.socialmedia .icon-content a[data-social="linkedin"]~.tooltip {
  background-color: #0274b3;
}

.socialmedia .icon-content a[data-social="github"] .filled,
.socialmedia .icon-content a[data-social="github"]~.tooltip {
  background-color: #24262a;
}

.socialmedia .icon-content a[data-social="instagram"] .filled,
.socialmedia .icon-content a[data-social="instagram"]~.tooltip {
  background: linear-gradient(45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f);
}

.ImgClase img {
  width: 300px;
  border-radius: 50%;
  filter: blur(10);
  z-index: 10;
  transition: all ease-in 0.3s;
  filter: drop-shadow(0 0 60px rgba(0, 46, 88, 0.562));
  object-fit: cover;
  border: none;
  background-size: cover;
  box-sizing: content-box;
}



.ImgClase img:hover {
  transition: all 0.5s;
  filter: blur(10);
  margin: auto;
  object-fit: cover;
  border: none;
  background-size: cover;
  filter: drop-shadow(0 0 30px rgba(0, 46, 88, 0.562));
  box-sizing: content-box;
  transform: scale(1);
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);

}
 .hiddenxl{
  display: none;
} 


@keyframes mover {
  0%, 100% {
      transform: translateY(-8px); /* Movimiento hacia arriba y hacia abajo */
  }
  50% {
      transform: translateY(8px); /* Movimiento hacia arriba y hacia abajo */
  }
}
/*LENGUAJES*/

.lenguajes>img{
  width: 45px;
 
}
.lenguajes{
  margin: 40px;
}

/*SCROLL*/
body::-webkit-scrollbar {
	width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #001d5c;
  background-size: cover;
  background-position: center;
	border-radius: 5px;
 
}
/*PRECARGA*/

/* Estilo para la pantalla de carga */





@media only screen and (min-width: 300px) and (max-width: 1020px) {
  .hiddenxl{
    display: block;
  } 
  .navbar{
    backdrop-filter: blur(1330px);
    background: blur(10);
  }

  .boton{
   
    border-radius: 5px;
    transition:0.3s ease;
    backdrop-filter: blur(1330px);

  }
  .boton:hover{
    background-color: #fafafa79;
    transition:0.3s ease;
  }

  .navbar{
   width: 70%;
   margin: 0;
   
  }
  .navbar .btn {
   
   
   margin: 0;
   padding: 0;
   color: white;
    
    } 

    /*nav bar*/

.aboutme{
  height: 100%;
  

  }
  .aboutme>p{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 20px;
  
}.desplegue{
  background: fixed;
  height: 100dvh;
}


.H{
  top: 0px;
  position: relative;
  margin: 0.5px;
  padding: 5px;
  background-color: #125c0000;
  border: solid 2px rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px 400px 0px 400px; */
 
}
.carouselC{

  font-size: xx-large;
  position: relative;
  color: aliceblue;
  top: 5%;
  }

  /* .spiner-wrapper{
    background-color: #74747431;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
  }
  
  .spinner-border{
    height: 60px;
    width: 60px;
  
  } */
  .proc{
    overflow: scroll;
    padding-top: 70px;
  }

  .proc::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .proc::-webkit-scrollbar-thumb {
    background-color: #001d5c;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
   
  }
.button{
  font-size: 12px;
}
.banner{
  border-color: #00000000;
}
.lenguajes>img{
  width: 30px;
 
}
}